.avatarWithBorder {
  box-sizing: initial;
  width: 5rem;
  height: 5rem;
  border-radius: 8px;

  background-color: var(--gray-800);

  outline: 2px solid var(--green-500);
  border: 5px solid var(--gray-600);
}

.avatar {
  box-sizing: initial;
  width: 5rem;
  height: 5rem;
  border-radius: 8px;

  background-color: var(--gray-800);
}